<div class="row" ng-controller="cartographie">
    <div class="col-md-5">
        <leaflet lf-center="center"
                 markers="markers"
                 layers="layers"
                 width="100%"
                 height="650px"></leaflet>
    </div>
    <div class="col-md-7">
        <div ng-if="tabToShow.datas !== undefined">
            <table class="table table-bordered">
                <thead class="blue-lighter">
                    <tr>
                        <th class="text-center">
                            <h4 style="color: #fff;">{{tabToShow.perimetre === undefined ? "Localisation" : "Périmetre"}} de {{tabToShow.perimetre || tabToShow.localisation}}</h4>
                        </th>
                        <th colspan="2">
                            <select class="form-control"
                                    ng-if="cookieStore.get('status') !== 'Agent'"
                                    ng-model="Affect"
                                    ng-options="agent.cp as agent.nomPrenom for agent in Fiches.Agents"
                                    ng-change="AffectationMultiple(tabToShow.datas, Affect)">

                            </select>
                            <select class="form-control"
                                    ng-if="cookieStore.get('status') === 'Agent'"
                                    ng-model="Affect"
                                    ng-options="agent.cp as agent.nomPrenom for agent in Fiches.AgentsAgent"
                                    ng-change="AffectationMultiple(tabToShow.datas, Affect)">
                            </select>
                        </th>
                    </tr>
                </thead>
                <thead class="blue-lighter">
                    <tr>
                        <th>Description</th>
                        <th>Demandeur</th>
                        <th>Affectation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fiche in tabToShow.datas" id="{{fiche.nFiche}}">
                        <td>
                            <a target="_blank"
                               ng-href="#/{{(fiche.nFiche.toString().indexOf('AFF') === 0 ? 'affaire/lire' : 'fiche')}}/{{fiche.date | date: 'yyyy'}}/{{fiche.nFiche}}">{{fiche.description}}</a>
                        </td>
                        <td>{{fiche.demandeur}}</td>
                        <td width="203">
                            <div ng-include="'views/agent/affectation.html'"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
        </div>
        <div ng-repeat="(nom, inters) in perimetre" ng-hide="tabToShow.perimetre === nom">
            <table class="table table-bordered">
                <thead class="violet">
                    <tr>
                        <th class="text-center"><h4 style="color: #fff;">Périmètre de {{nom}}</h4></th>
                        <th colspan="2">
                            <div ng-include="'views/agent/affectation_multiple_perimetre.html'"></div>
                        </th>
                    </tr>
                </thead>
                <thead class="violet">
                    <tr>
                        <th>Description</th>
                        <th>Demandeur</th>
                        <th>Affectation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fiche in inters" id="{{fiche.nFiche}}">
                        <td>
                            <a target="_blank"
                               ng-href="#/{{(fiche.nFiche.toString().indexOf('AFF') === 0 ? 'affaire/lire' : 'fiche')}}/{{fiche.date | date: 'yyyy'}}/{{fiche.nFiche}}">{{fiche.description}}</a>
                        </td>
                        <td>{{fiche.demandeur}}</td>
                        <td width="203">
                            <div ng-include="'views/agent/affectation.html'"></div>

                            <!--<ar-affectation
                                                                ar-model="fiche.affectation"
                                                                ar-affecte="Affectation"
                                                                ar-list-agents1="Fiches.Agents"
                                                                ar-list-agents2="Fiches.Agents"
                                                                ar-cdt-aff1="true"
                                                                ar-cdt-aff2="false"
                                                                ar-cdt-disabled1="false"
                                                                ar-cdt-disabled2="false"
                            ></ar-affectation>-->

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr />

        <div ng-repeat="(nom, inters) in localisation" ng-hide="tabToShow.localisation === nom">
            <table class="table table-bordered">
                <thead class="violet">
                    <tr>
                        <th><h4 class="text-center" style="color: #fff;">Localisation de {{nom}}</h4></th>
                        <th colspan="2">
                            <div ng-include="'views/agent/affectation_multiple_localisation.html'"></div>
                        </th>
                    </tr>
                </thead>
                <thead class="violet">
                    <tr>
                        <th>Description</th>
                        <th>Demandeur</th>
                        <th>Affectation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fiche in inters" id="{{fiche.nFiche}}">
                        <td>
                            <a target="_blank"
                               ng-href="#/{{(fiche.nFiche.toString().indexOf('AFF') === 0 ? 'affaire/lire' : 'fiche')}}/{{fiche.date | date: 'yyyy'}}/{{fiche.nFiche}}">{{fiche.description}}</a>
                        </td>
                        <td>{{fiche.demandeur}}</td>
                        <td width="203">
                            <div ng-include="'views/agent/affectation.html'"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <!--<p>{{perimetre|json}}</p>-->
    <div class="loading"
         ng-class="{ flex: cartographie.isLoading }"
         ng-hide="!cartographie.isLoading">
        <div></div>
    </div>
</div>