<h1>Sous-réseaux IP de la région Elsass</h1>

<div style="position: relative">
    <table class="table table-stripped">
    <thead class="violet">
        <tr>
            <th>Localisation</th>
            <th>IP</th>
            <th>Masque</th>
            <th>Périmètre</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="reseau in reseauService.datas">
            <td>{{reseau.location}}</td>
            <td>{{reseau.ip}}</td>
            <td>{{reseau.mask}}</td>
            <td><input ng-blur="majReseau()" class="form-control no-margin" type="text" ng-model="reseau.perimetre" /></td>
            <td><input ng-blur="majReseau()" class="form-control no-margin" type="text" ng-model="reseau.lat" /></td>
            <td><input ng-blur="majReseau()" class="form-control no-margin" type="text" ng-model="reseau.lng" /></td>
        </tr>
    </tbody>
</table>
<div class="loading"
     ng-class="{ flex: reseauip.isLoading }"
     ng-hide="!reseauip.isLoading">
    <div></div>
</div>
</div>