<table class="table table-bordered">
    <thead class="violet">
        <tr>
            <th ng-click="predicate = 'numero'; reverse = !reverse;">
                Affaire {{(predicate==='numero' ? (reverse ? '↑' : '↓') : '' )}}
            </th>
            <th ng-click="predicate = 'titre'; reverse = !reverse;">
                Titre {{(predicate==='titre' ? (reverse ? '↑' : '↓') : '' )}}
            </th>
            <th ng-click="predicate = 'heureTotal'; reverse = !reverse;">
                Heures {{(predicate==='heureTotal' ? (reverse ? '↑' : '↓') : '' )}}
            </th>
            <th ng-click="predicate = 'dateDebut'; reverse = !reverse;">
                Date {{(predicate==='dateDebut' ? (reverse ? '↑' : '↓') : '' )}}
            </th>
            <th ng-if="ModalAffaire.isModal === true"
                width="122px;"
                class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ligne in affaires.liste | orderBy:predicate:reverse">
            <td>
                <span ng-class="{label: ligne.isCloture, 'label-cloture': ligne.isCloture}">
                   <a title="aller à la fiche {{ligne.numero}}"
                      target="{{ModalAffaire.isModal === true ? '_blank' : ''}}"
                      ng-href="#/affaire/lire/{{ligne.dateDebut|date:'yyyy'}}/{{ligne.numero}}">{{ligne.numero}}</a>
                </span>
            </td>
            <td title="{{ligne.description}}">{{ligne.titre|limitTo:80}}{{ligne.titre.length > 80 ? '...' : ''}}</td>
            <td>
                <div class="progress" title="Avancement {{ligne.percentTime}}%">
                    <div ng-class="{'progress-bar-success': ligne.percentTime >= 100, 'progress-bar-info': ligne.percentTime < 100}" class=" text-center" aria-valuenow="{{ligne.percentTime}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ligne.percentTime}}%;">
                        <nobr>{{ligne.minutesConsomme / 60}}h / {{ligne.minutesTotal / 60}}h</nobr>
                    </div>
                </div>
            </td>
            <td>{{ligne.dateDebut|date:'dd/MM/yyyy'}}</td>
            <td ng-if="ModalAffaire.isModal === true">
                <button class="btn btn-blue"
                        ng-click="affaires.selectAffaire(ligne)">Sélectionner</button>
            </td>
        </tr>
    </tbody>
</table>