<h1 class="text-center">
    <a ng-href="#/enqueteform/{{routeParams.annee-1}}"
       class="h1">&laquo;</a>
    Questionnaires de l'enquête satisfaction {{routeParams.annee}}
    <a ng-href="#/enqueteform/{{routeParams.annee-1+2}}"
       class="h1">&raquo;</a>
</h1>

<div class="col-md-12">
    <ul class="nav nav-tabs">
        <li ng-repeat="form in enqueteService.forms"
            ng-class="{active: form.show}"
            role="presentation">
            <a href
               data-target="#date{{$index}}"
               role="tab"
               data-toggle="tab">{{form.dateCreate | date: 'dd/MM/yyyy'}} <span ng-if="form.actif">(actif)</span></a>
        </li>
        <li ng-if="formsctrl.Year === routeParams.annee">
            <button ng-click="formsctrl.AddForm()"
                    title="Créer un nouveau formulaire"
                    class="btn btn-blue">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </li>
    </ul>

    <div class="tab-content" ng-include="'views/enquete/enquete_form.html'"></div>
</div>
