<!--<p class="page-header text-center">
    <a class="btn btn-blue"
        ng-href="#/djs/{{djs3s.djsCounter.anneeAvant}}/{{djs3s.djsCounter.numSemaineAvant}}"><
    </a>
    <span class="lead">
        DJS du {{djs3s.datesListe[0]|date:"EEEE dd MMMM yyyy"}} au {{djs3s.datesListe[14]|date:"EEEE dd MMMM yyyy"}}
    </span>
    <a class="btn btn-blue"
       ng-href="#/djs/{{djs3s.djsCounter.anneeApres}}/{{djs3s.djsCounter.numSemaineApres}}">>
    </a>
</p>-->

<nav class="col-md-5 col-md-offset-4">
    <ul class="pagination">
        <li>
            <a ng-href="#/djs/{{djs3s.djsCounter.anneeAvant}}/{{djs3s.djsCounter.numSemaineAvant}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a>Semaine</a>  </li>
        <li>
            <a ng-href="#/djs/{{djs3s.djsCounter.anneeApres}}/{{djs3s.djsCounter.numSemaineApres}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><a ng-href="#/djs/{{djs3s.djsCounter.anneeEncoreAvant}}/{{djs3s.djsCounter.numSemaineEncoreAvant}}">{{djs3s.djsCounter.numSemaineEncoreAvant}}</a></li>
        <li><a ng-href="#/djs/{{djs3s.djsCounter.anneeAvant}}/{{djs3s.djsCounter.numSemaineAvant}}">{{djs3s.djsCounter.numSemaineAvant}}</a></li>
        <li class="active"><a ng-href="#/djs/{{djs3s.djsCounter.anneeEnCours}}/{{djs3s.djsCounter.numSemaineEnCours}}">{{djs3s.djsCounter.numSemaineEnCours}}</a></li>
        <li><a ng-href="#/djs/{{djs3s.djsCounter.anneeApres}}/{{djs3s.djsCounter.numSemaineApres}}">{{djs3s.djsCounter.numSemaineApres}}</a></li>
        <li><a ng-href="#/djs/{{djs3s.djsCounter.anneeEncoreApres}}/{{djs3s.djsCounter.numSemaineEncoreApres}}">{{djs3s.djsCounter.numSemaineEncoreApres}}</a></li>

    </ul>
</nav>

<div style="position: relative;" class="col-md-8 col-md-offset-2">
    <table class="table"
           ng-repeat="(nomSecteur, secteur) in djs3s.djsTotal.secteurs">
        <thead class="djs3s violet">
            <tr>
                <th>
                    <div ng-if="djs3s.getValidationSecteur(secteur).valider && infoAgent.status === 'Encadrement'" >
                        <span> Secteur validé </span>
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </div>
                    <button ng-if="!djs3s.getValidationSecteur(secteur).valider && djs3s.isSecteurCloture(secteur)" class = "btn btn-blue  text-center" ng-click="djs3s.validerSecteur(secteur)" > Valider le secteur</button>
                    <button ng-if="djs3s.getValidationSecteur(secteur).valider && infoAgent.status === 'DU'" class = "btn btn-blue  text-center" ng-click="djs3s.validerSecteur(secteur)" > Dévalider le secteur</button>
                </th>
                <!--<th colspan="{{2 + djs3s.datesListe.length}}" class="text-center">Semaine {{djs3s.djsCounter.numSemaineEnCours}} de l'année {{djs3s.djsCounter.anneeEnCours}}</th>-->
                <th colspan="{{2 + djs3s.datesListe.length}}" class="text-center">Du {{ djs3s.datesListe[0]|date:"EEEE dd MMMM"}} au {{ djs3s.datesListe[4]|date:"EEEE dd MMMM"}} {{djs3s.djsCounter.anneeEnCours}}</th>
            </tr>
            <tr>
                <th>{{nomSecteur}}</th>
                <th ng-repeat="jour in djs3s.datesListe track by $index" class="text-center">
                    {{jour|date:"EEE dd"}}
                </th>
                <th class="text-center">Verrouiller</th>
                <th class="text-center">Cloturer</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(nomAgent, djs) in secteur">
                <td class="nom-agent">{{nomAgent}}</td>
                <td ng-if="djs !== null"
                    ng-repeat="temps in djs.lesJours"
                    ng-class="{'label-journee-valider':temps.cloturer,  success : temps.minutesRestantes === 0 && !temps.cloturer, info: temps.minutesRestantes > 0 && temps.minutesRestantes <  djs.lesJours[$index].minutesRestantes, warning: temps.minutesRestantes > 0, danger: temps.minutesRestantes < 0 && !temps.cloturer}"
                    class="text-center">
                    <span ng-class="{'label-journee-valider': temps.verrouiller, 'label': temps.verrouiller && !temps.cloturer}">
                        <a ng-href="#/pointages/{{djs.cp}}/{{djs3s.datesListe[$index]|date:'dd-MM-yyyy'}}">{{temps.heuresRestantes}}</a>
                    </span>
                </td>

                <td ng-if="djs !== null">
                    <md-switch ng-if="!djs3s.getValidationSecteur(secteur).valider && infoAgent.status !== 'Agent'" style="margin: 5px;" ng-model="djs.verrouiller" ng-change="djs3s.verrouillerCloturerDjs('verrouiller',djs)" class="md-primary" layout-align="center" aria-label="slider">
                    </md-switch>

                    <div ng-if="djs3s.getValidationSecteur(secteur).valider" class="text-center" >
                        <span class="glyphicon glyphicon-ok-circle text-success gi-2x"></span>
                    </div>

                </td>
                <td ng-if="djs !== null">
                    <md-switch ng-if="!djs3s.getValidationSecteur(secteur).valider && infoAgent.status !== 'Agent'" style="margin: 5px;" ng-model="djs.cloturer" ng-change="djs3s.verrouillerCloturerDjs('cloturer', djs)" class="md-primary" layout-align="center" aria-label="slider">
                    </md-switch>

                <div ng-if="djs3s.getValidationSecteur(secteur).valider" class="text-center" >
                    <span class="glyphicon glyphicon-ok-circle text-success gi-2x"></span>
                </div>


                </td>

            </tr>
        </tbody>
    </table>

    <div class="loading"
         ng-class="{ flex: djs3s.lesDjsEnCour.isLoading}"
         ng-hide="!(djs3s.lesDjsEnCour.isLoading)">
        <div></div>
    </div>
</div>