    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title text-center">Verrouiller des journée</h3>


            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div>Plusieurs durée journalière de travail ont été atteinte. Quels jours voulez vous verrouiller ?</div>
                    </br>

                    <table class="table">
                        <thead class="violet">
                        <tr>
                            <th>Date</th>
                            <th>Verrouiller</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="date in verrouillageDjsModal.lesJoursAVerrouiller">
                            <td>{{dateBeautify(date)}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="nonVerrouillage(date)"> Non </button>
                                <button class="btn btn-success" ng-click="verrouillerJournee(date)"> Oui </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-danger col-md-3" ng-click="nonVerrouillageAllJournee()"> Ne rien verrouiller</button>
                    <button class="btn btn-success col-md-5 col-md-offset-4" ng-click="verrouillerAllJournee()"> Verrouiller les journées restantes </button>


                </div>
            </div>

        </div>
    </div>
