<!--
<ul class="nav nav-tabs">
    <li  role="presentation" class="active">
        <a href data-target="#projet" role="tab" data-toggle="tab" >Projet</a>
    </li>
    <li role="presentation">
        <a href data-target="#astreinte" role="tab" data-toggle="tab">Astreinte</a>
    </li>
    <li role="presentation">
        <a href data-target="#montee" role="tab" data-toggle="tab">Montée de nuit</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="projet">
        <div style="position: relative"
             ng-controller="Projets">
            <div ng-include="'views/projet/ficheProjet.html'"></div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="astreinte">
        <div style="position: relative"
             ng-controller="Astreinte">
            <div ng-include="'views/nuitAstreinte/ficheNuitAstreinte.html'"></div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="montee">
        <div style="position: relative"
             ng-controller="Nuit">
            <div ng-include="'views/nuitAstreinte/ficheNuitAstreinte.html'"></div>
        </div>
    </div>
</div>
&lt;!&ndash;
<div>

    &lt;!&ndash; Nav tabs &ndash;&gt;
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href data-target="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation"><a href data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    &lt;!&ndash; Tab panes &ndash;&gt;
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">aaaaaaa</div>
        <div role="tabpanel" class="tab-pane" id="profile">vvvvvvv</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

</div>&ndash;&gt;
-->
