<div>
    <label class="text-center">
        Pointages<span ng-if="ptgjour"> de {{ptgjour.agentName}}</span>
    </label>

    <nav ng-if="ptgjour" class="col-md-12 text-center">
        <ul class="pagination">
            <li>
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourPrecedent}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a>{{ptgjour.datePointage | date:'dd MMMM yyyy'}}</a>  </li>
            <li>
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSuivant}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[0].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[0].dateFr}}">{{jourSemaine[0].date.getDate()}}</a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[1].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[1].dateFr}}">{{jourSemaine[1].date.getDate()}}</a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[2].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[2].dateFr}}">{{jourSemaine[2].date.getDate()}}</a></li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[3].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[3].dateFr}}">{{jourSemaine[3].date.getDate()}}</a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[4].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[4].dateFr}}">{{jourSemaine[4].date.getDate()}}</a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[5].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[5].dateFr}}">{{jourSemaine[5].date.getDate()}}</a>
            </li>
            <li ng-class="{active:routeParams.datePointage === jourSemaine[6].dateFr}">
                <a ng-href="#/pointages/{{routeParams.idUser}}/{{jourSemaine[6].dateFr}}">{{jourSemaine[6].date.getDate()}}</a>
            </li>

        </ul>
    </nav>

    <div ng-if="ptgjour && isVerrouiller">
        <div ng-if="habilitation === 'Agent'">
            <span class="text-success"> Journée validée </span>
            <span class="glyphicon glyphicon-ok-circle text-success"></span>
        </div>
        <div ng-if="habilitation !== 'Agent'" class="row">
            <button ng-if="!isCloturer" class="btn btn-blue col-md-2  col-md-offset-3 text-center"
                    ng-click="deVerrouillerJournee()">Dévérrouiller la journée
            </button>
            <button ng-if="!isCloturer" class="btn btn-blue col-md-2 col-md-offset-2 text-center"
                    ng-click="cloturerJournee()">Cloturer la journée
            </button>
            <button ng-if="isCloturer && !djs.valider" class="btn btn-blue col-md-2 col-md-offset-7 text-center"
                    ng-click="cloturerJournee()">Décloturer la journée
            </button>
        </div>
    </div>

    <button ng-if="ptgjour && !isVerrouiller && isJourneeCompleted" class="btn btn-blue col-md-2 col-md-offset-3 text-center"
            ng-click="verrouillerJournee()"> Vérrouiller la journée
    </button>

    <hr ng-if="ptgjour !== undefined"/>

</div>

<div class="col-md-6" ng-if="ptgjour !== undefined && (cookieStore.get('agent') === routeParams.idUser || cookieStore.get('status') !== 'Agent')">
    <ul class="nav nav-tabs">
        <li  role="presentation" class="active" ng-click="filtreProjetGeneral()">
            <a href data-target="#projet" role="tab" data-toggle="tab" >Projet</a>
        </li>
        <li role="presentation" ng-click="filtreProjetAstreinte()">
            <a href data-target="#astreinte" role="tab" data-toggle="tab" >Astreinte</a>
        </li>
        <li role="presentation"  ng-click="filtreProjetNuit()">
            <a href data-target="#montee" role="tab" data-toggle="tab">Montée de nuit</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="projet">
            <div style="position: relative"
                 ng-controller="Projets">
                <div ng-include="'views/projet/ficheProjet.html'" ></div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="astreinte" >
            <div style="position: relative"
                 ng-controller="Astreinte">
                <div ng-include="'views/nuitAstreinte/ficheAstreinte.html'" ></div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="montee">
            <div style="position: relative"
                 ng-controller="Nuit">
                <div ng-include="'views/nuitAstreinte/ficheNuit.html'"></div>
            </div>
        </div>
    </div>
</div>

<div ng-class="{'col-md-6' : ptgjour !== undefined}">
    <p ng-if="ptgjour !== undefined" class="text-center">
        <label>
            Pointages ({{totalPtg | date:"HH'h'mm"}} pointé)
        </label>
    </p>
    <div  style="position: relative;">
        <table class="table">
            <thead class="violet">
            <tr>
                <th ng-if="ptgjour === undefined">Agent</th>
                <th>Projet</th>
                <th ng-if="ptgjour">Fiche</th>
                <th>Travail réalisé</th>
                <th ng-if="ptgjour === undefined">Date</th>
                <th>Durée</th>
                <th ng-if="!isCloturer">Action</th>
                <th ng-if="ptgjour && isVerrouiller && habilitation !== 'Agent'">
                    Cloturer
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ligne in datas.pointages" ng-class="{'danger':ligne.signaler, bold: ligne.dureeMinute > 0 && ptgjour === undefined}" >
                <td ng-if="ptgjour === undefined">{{ligne.agent}}</td>
                <td>{{ligne.projet}}</td>
                <td ng-if="ptgjour">
                    <span ng-class="{label: datas.fiche[ligne.idFiche].isCloture, 'label-cloture': datas.fiche[ligne.idFiche].isCloture}">
                        <a href="#/fiche/{{ligne.annee}}/{{ligne.nFiche || ligne.nMongo }}">{{ligne.nFiche || ligne.nMongo}}</a>
                    </span>
                </td>
                <td>{{ligne.nature}}</td>
                <td ng-if="ptgjour === undefined">{{ligne.date | date:"dd/MM/yyyy"}} {{ligne.dateDebut | date:"HH:mm"}}</td>
                <td>{{ligne.duree | date:"HH'h'mm"}}</td>
                <td ng-if="!isCloturer" class="text-center">
                    <span ng-if="!(ligne.dureeMinute === 0 || (datas.fiche[ligne.idFiche].isCloture === true) ||  ligne.cp === 'ARIANE' || isVerrouiller)">
                        <button class="btn btn-danger btn-xs"
                                ng-click="ficheagadir.DelPointage(ligne)"
                                title="Supprimer ce pointage">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button class="btn btn-success btn-xs"
                                data-toggle="modal"
                                data-target="#modal-pointage"
                                ng-click="ficheagadir.showModPtg(ligne)"
                                ng-if="(datas.fiche[ligne.idFiche].isCloture === false && ligne.nFiche !== undefined) || (ligne.nFiche === undefined && ligne.isNuit === false)"
                                title="Modifier ce pointage">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-success btn-xs"
                                data-toggle="modal"
                                data-target="#modal-pointage-nuit-astreinte"
                                ng-if="ligne.isNuit === true"
                                ng-click="pointagesjournee.showModPtg(ligne)"
                                title="Modifier ce pointage">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </span>
                    <span ng-if="!ligne.cloturer && isVerrouiller && habilitation !== 'Agent'">
                        <button class="btn btn-danger btn-xs"
                                ng-click="showModSignalPtg(ligne)"
                                title="Signaler ce pointage">
                            <span class="glyphicon glyphicon-alert"></span>
                        </button>
                    </span>
                </td>
                <td ng-if="ptgjour && isVerrouiller && habilitation !== 'Agent'">
                    <md-switch ng-if="!djs.valider" style="margin: 5px;" ng-model="ligne.cloturer"
                               ng-change="cloturerPtg(ligne)" class="md-primary" layout-align="center">
                    </md-switch>

                    <span ng-if="djs.valider" class="text-center glyphicon glyphicon-ok-circle text-success gi-2x"></span>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="loading"
             ng-class="{ flex: ptgjour.isLoading }"
             ng-hide="!ptgjour.isLoading">
            <div></div>
        </div>
    </div>

    <hr ng-if="ptgjour !== undefined"/>

    <div ng-include="ptgjour !== undefined && 'views/NuitAstreinte/listeAstreinte.html'"></div>
</div>


<article ng-include="'views/ficheAgadir/modalPointage.html'"></article>
<article ng-include="'views/NuitAstreinte/modalNuitAstreinte.html'"></article>
<article ng-include="'views/journeePointage/modalSignalPtg.html'"></article>
