<table>
    <thead class="blue-lighter">
        <tr>
            <th>Date</th>
            <th>Demandeur</th>
            <th>Dernier intervenant</th>
            <th>Agent planifié</th>
            <th>Fiche</th>
            <th>État</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ligne in histoPoste.datas.liste | orderBy:'dateAppel':true">
            <td>{{ligne.dateAppel | date:'dd/MM/yyyy'}}</td>
            <td>{{ligne.nomPrenomDemandeur}}</td>
            <td>{{ligne.dernierIntervenant}}</td>
            <td>{{ligne.nomPrenomAgent || ligne.cpAgent}}</td>
            <td>
                <span ng-class="{label: ligne.isCloture, 'label-cloture': ligne.isCloture}">
                    <a target="_blank" href="{{ligne.link}}">{{ligne.numero || ligne.numeroMongo}}</a>
                </span>
            </td>
            <td>{{ligne.etat}}</td>
            <td>{{ligne.description|limitTo:100}}{{ligne.description.length > 100 ? '...' : ''}}</td>
        </tr>
    </tbody>
</table>
