<select class="form-control"
        ng-if="(fiche.affectation !== '0' && fiche.affectation !== cookieStore.get('agent')) || cookieStore.get('status') !== 'Agent'"
        ng-model="fiche.affectation"
        ng-options="agent.cp as agent.nomPrenom for agent in Fiches.Agents"
        ng-change="Affectation(fiche)"
        ng-disabled="fiche.isCloture === true || cookieStore.get('status') === 'Agent'"></select>

<select class="form-control"
        ng-if="(fiche.affectation === '0' || fiche.affectation === cookieStore.get('agent')) && cookieStore.get('status') === 'Agent'"
        ng-model="fiche.affectation"
        ng-options="agent.cp as agent.nomPrenom for agent in Fiches.AgentsAgent"
        ng-change="Affectation(fiche)"
        ng-disabled="fiche.isCloture === true"></select>