<p class="text-center">
    <label>
        Pointages d'astreinte
    </label>
</p>
<div style="position: relative" ng-controller="AstreinteListe">
    <table class="table">
        <thead class="violet">
            <tr>
                <th>Projet</th>
                <th>Travail réalisé</th>
                <th>Durée</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ligne in astreinteliste.datas">
                <td>{{ligne.projet}}</td>
                <td>{{ligne.commentaire}}</td>
                <td>{{ligne.duree | date:"HH'h'mm"}}</td>
                <td class="text-center">
                    <button class="btn btn-danger btn-xs"
                            title="Supprimer ce pointage"
                            ng-click="astreinteliste.DelAstreinte(ligne)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-success btn-xs"
                            data-toggle="modal"
                            data-target="#modal-pointage-nuit-astreinte"
                            ng-if="ligne.dateDebut !== undefined"
                            ng-click="astreinteliste.showModPtg(ligne)"
                            title="Modifier ce pointage">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="loading"
         ng-class="{ flex: astreinteliste.isLoading }"
         ng-hide="!astreinteliste.isLoading">
        <div></div>
    </div>
</div>
